<template>
    <div class="container">

        <div class="row justify-content-center mt-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">User Table</h3>
                  	<div class="card-tools">
						<div class="input-group input-group-sm">
							<button class="btn btn-success"  @click="openAddModal"> <i class="fa fa-user-plus" aria-hidden="true"></i> Add User</button>
						</div>
                	</div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead class="text-center">
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
						<th>Status</th>
                        <th>Type</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
					<tr v-if="loading">
						<td colspan="4">
							<circle-spinner></circle-spinner>
						</td>
					</tr>
					<tr v-else-if="user.length < 1 ">
						<td colspan="6"><i>No Record...</i></td>
					</tr>
                     <tr  v-else v-for = "(users, index) in user" :key = "users.id" >
                        <td>{{ index+1 }}</td>
                        <td>{{ users.name }}</td>
                        <td>{{ users.email }}</td>

						<td v-if = "users.is_active" style = "color:green; font-weight:bold;">Active</td>
                        <td v-else style = "color:red; font-weight:bold;">Inactive</td>
						<td >{{ users.type }}</td>

                        <td>
							<span class="badge badge-info p-2 text-white letter-spacing" @click = "edituser(users.id)"><i class="fas fa-pencil-alt"></i>Edit </span>

							<span v-if="!users.is_active" class="badge badge-success p-2 text-white letter-spacing" @click="changestatus(users.id,'Activate')">
								<i class="fas fa-check"></i>
								Activate
							</span>

							<span v-else class="badge badge-danger p-2 text-white letter-spacing" @click="changestatus(users.id,'Deactivate')">
								<i class="fas fa-times"></i>
								Deactivate
							</span>
                            <span  class="badge badge-danger p-2 text-white letter-spacing" @click="deleteuser(users.id,users.name)">
							<i class="fa fa-trash" aria-hidden="true"></i>
								Delete
							</span>
						</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
        </div>
      <user-modal ref="userModal" :title = "title" @createdSuccess = "successModal" :editMode = "editMode" ></user-modal>
    </div>
</template>
<script>
export default {
    data() {
      return {
          user:{},
            showloader : false,
          labelLoader: 'Loading...',
          overlayLoader: false,
         loading: false,
        editMode : false,
        title:'',

      }
    },
    methods: {
    loaUser(){
          this.loading = true
          axios.get('api/user').then(({data})=>{
             this.user = data
              this.loading = false
          }).catch();
        },
    openAddModal(){
			this.editMode = false;
			this.showloader = true
			Fire.$emit('openAdd')
			axios.get('api/user').then(({data}) => {
				this.user = data
				this.title = 'Add User';
				$("#usermodal").modal('show');
				this.showloader = false
			}).catch((e)=>{
				this.showloader = false;
				Swal.fire({
					type: 'error',
					title: 'Oops...',
					text: 'Something went wrong!',
					footer: 'Contact Web Administrator'
				})
			})
        },
    edituser(id){

			this.editMode = true;
			this.showloader = true
			axios.get('/api/user/'+id).then(({data})=>{
			    // this.title = 'Edit User';
				// this.user = data
                 this.$refs.userModal.openEdit(data);
                 this.$refs.userModal.title = "Edit User" +' '+data.name ;

			})
			this.showloader = false
        },
    changestatus(id,type){
        Swal.fire({
				title: 'Are you sure?',
				text: "You'll be able to revert it later!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, '+type+' it!'
				}).then((result) => {
				if (result.value) {
					this.showloader = true;
					axios.get('api/user/'+id+'/status/'+type).then(({data}) => {

						Swal.fire(
							type,
							data.name +' has been '+type+'.',
							'success'
						)

						Fire.$emit('successCreated');
						this.showloader = false;
					});

				}
			})
    },
    deleteuser(id,name){
         Swal.fire({
				title: 'Are you sure?',
				text: "You'll be able to revert it later!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete '+name+' '
				}).then((result) => {
				if (result.value) {
					this.showloader = true;
					axios.get('api/users/'+id).then(({data}) => {

						Fire.$emit('successCreated');
						this.showloader = false;
					});

				}
			})
    },

    successModal(){
			Fire.$emit('successCreated')
	}

    },
	created(){
         this.loaUser();
        Fire.$on('successCreated', () => {
          this.loaUser();
        })
	}
}
</script>
<style scoped>
	.filterSelect{
		box-shadow: 0px 0px 3px gray;
	}

</style>
