.nav-color{

    font-size: 0.8em;
    letter-spacing: 0.5px;
}


.header-bg-div{
    width:60%;
}

.search-div{
    position:absolute;
    left:1%;
    top:100px
}

.cart-div{
    position:absolute;
    right:3%;
    top:90px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .print-slogan{
      background: rgba(0, 0, 0, 0.8);
      font-style:italic;
      font-size:50px;
  }

  #app{
    font-family: 'Questrial', sans-serif;
  }

  .img-container{
    position: relative;
    text-align: center;
    color: white;
    
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-weight: bold;
  }

  .active-star{
        font-size: 9px;
        color: #FDC801;
  }

  .deactive-star{
        font-size: 9px;
  }

.orange{
    background-color: #E16600;
    color: white;
}

.orange-font{
    color: #E16600;
}

.green-font{
    color: #669933;
}

.green{
    background-color: #669933;
    color: white;
}

.contact-button-format{
    margin:300px auto;
}

.connect-social{
    position:relative;
    top:120px;
}

.about-border{
    border-right:5px solid gray;
}

.recommended{
    color:rgb(102, 153, 51);
}

.social-font{
    font-size:25px;
    font-weight:bold;
}

.nav-active{
    background-color: green;
    font-weight: bold;
}

.hover-design {
    /* background-color:#3399cc; */
    background-size: 0% 100%;
	
    transition: background-color .5s;
}

.hover-design:hover {
    background-color:green;
    background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,.7) 100%);
    background-repeat:no-repeat;
    background-size: 200% 100%; 
    transition:background-size 1s, background-color 1s;
    font-weight: bold;
}

.bg-item-details{
    background-color: rgb(153, 204, 102);
    border-top-right-radius:25%;
    border-bottom-right-radius:25%;
}

.material-textbox{
    border:none;
    border-bottom: 2px solid;
    border-radius: 0px;
}

.material-textbox:focus{
    border-color: none !important;
    box-shadow:none !important;
    
}

.button-login{
    font-size: 18px;
    border-radius:15px;
    border:none;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.productCont:hover{
    box-shadow: 0px 0px 5px gray;
}




@media only screen and (max-width: 1428px) {
    .nav-color{
        font-size: 0.6em;
    }

    .search-div{
        top:80px
    }
    .cart-div{
        top:80px;
    }
    .product-container{
        padding: 0px;
    }

    .bg-item-details{
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        border-top-right-radius:0;
    }

    
}

@media only screen and (max-width: 1230px) {
    .search-div{
        top:60px
    }
    .cart-div{
        top:50px;
    }

    .bg-item-details{
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        border-top-right-radius:0;
    }
}

@media only screen and (max-width: 991px) {
    .search-div{
        display: none;
    }

    .cart-div{
        display: none;
    }

    .contact-button-format{
        margin:0px auto;
    }
    .connect-social{
        position:relative;
        top:0px;
    }

    .nav-link{
        margin-left:15px;
    }

    .about-border{
        border-right:none;
    }

    .recommended{
        color:rgb(102, 153, 51);
        font-size: 20px;
    }
    .social-font{
        font-size:17px;
        font-weight:bold;
    }

    .hover-design {
        text-align: center;
        width: 100%;
        
    }

    .bg-item-details{
        border-bottom-left-radius:10%;
        border-bottom-right-radius:10%;
        border-top-right-radius:0;
    }
}