<template>
    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover text-center table-dark">
                        <thead>
                            <tr>
                                <th class="text-uppercase" v-for="(thead, index) in theads" :key="index">{{ thead }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-uppercase" v-for="(value, index) in values" :key="index">{{ value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
           theads : {},
           values : {}
        }
    },
    methods: {
        render(thead, val){
            var dataVal = [];
            thead.splice(-3);
            val.splice(-3);
            val.forEach(element => {
                dataVal.push(element[1]);
            });
            this.theads = thead;
            this.values = dataVal;
        }
    },
}
</script>