<template>
	<div class="col-12 mt-5">
		<div class="card">
			<div class="card-header">
			<h3 class="card-title">Responsive Hover Table</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  	<thead>
						<tr>
							<th>#</th>
							<th>Activity</th>
							<th>User</th>
							<th>Created</th>
						</tr>
					</thead>
					<tbody>
                    	<tr v-for="(activity, index) in activities" :key="activity.id">
							<td>{{ index + 1 }}</td>
							<td v-if="activity.properties.old"> 
								<a href="" @click.prevent="oldVal(index)">{{ activity.properties.old.name }}</a>  has been {{ activity.description }} to <a href="">{{ activity.properties.attributes.name }}</a>.  
							</td>
							<td v-else>
								<a href="" @click.prevent="singleVal(index)">{{ activity.properties.attributes.name }}</a>  has been {{ activity.description }}.
							</td>
							<td>{{ activity.causer_id }}</td>
							<td>{{ activity.created_at }}</td>
                    	</tr>
                  	</tbody>
                </table>
			</div>
		</div>
		<activity-modal ref="activityModal"></activity-modal>
	</div>
</template>
<script>
import moment from 'moment';
export default {
	data(){
		return {
			activities : [],
			
		}
	},
	methods: {
		moment : function(){
			return moment();
		},
		oldVal(index){
			this.$refs.activityModal.render(Object.keys(this.activities[index].properties.old), Object.entries(this.activities[index].properties.old));
			$("#activityModal").modal('show');
		},
		singleVal(index){
			this.$refs.activityModal.render(Object.keys(this.activities[index].properties.attributes), Object.entries(this.activities[index].properties.attributes));
			$("#activityModal").modal('show');
		}

	},
	created(){
		axios.get('/api/activity').then(({data}) => {
			this.activities = data
		})
	}
}
</script>