<template>
<div class="p-5 w-100">
    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Responsive Hover Table</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" v-model="search" @input="searchdata" class="form-control float-right" placeholder="Search">
            </div>
        </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Discount Price</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="loading" class="text-center">
                        <td colspan="6">
                            <circle-spinner></circle-spinner><br>
                            <i class="font-weight-bold">Loading...</i>
                    </td>
                </tr>
                <tr v-for="product in products.data" :key="product.id">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.discount | discount}}</td>
                    <td>{{product.price - (product.price * product.discount)}}</td>
                    <td>
                        <span class="badge badge-success p-2" @click="addDiscount(product.id)">Discount</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="card-footer">
                <pagination class="float-right" :data="products" @pagination-change-page="loadProduct"></pagination>
            </div>
        </div>
    </div>
    <discount-items ref="modal"></discount-items>
</div>

          
</template>

<script>
    export default {
        data(){
            return {
                loading : false,
                showloader : false,
                overlayLoader : false,
                labelLoader : "Loading...",
                products:{},
                discount:0,
                search:''
            }
        },
        methods:{
            loadProduct(page = 1){
                this.loading = true
                axios.get('api/products?page='+page+'@search='+this.search)
                .then(({data}) => {
                    this.products = data;
                    this.loading = false;
                });
            },

            addDiscount(id){
                this.$refs.modal.discountModalShow(id);
                this.$refs.modal.product_id = id;
            },
            fetchAllProduct(){
                this.loading = true;
                axios.get('api/products')
                .then(({data}) => {
                    this.products = data;
                    this.loading = false;
                });
            },

            searchdata(){
                this.loading = true;

                if(this.search =="" || this.search == null){
                        this.fetchAllProduct();
                }else{
                    axios.get('api/search/'+this.search).then(({data}) => {
                                this.products = data;
                                this.loading = false;
                            });
                    }
            }
            
        },
        mounted() {
            this.fetchAllProduct();
            Fire.$on('showAllProductDiscount',()=>{
                this.fetchAllProduct();
            })
            console.log('Component mounted.')
        }
    }
</script>
