<template>
     <div class="container">
        <loading :show="showloader" :label="labelLoader" :overlay="overlayLoader"></loading>
        <div class="row justify-content-center">
            <div class="col-12 mt-4">
              <div class="row">
                <div class="col-3">
                  
                </div>
                <!-- <div class="col-3">
                    <multi-dropdown></multi-dropdown>
                </div> -->
              </div>

            </div>
            <div class="col-12 mt-1">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Products 	<button class="btn btn-success" @click="createProduct"> <i class="fas fa-plus" ></i> Add New</button>
                </h3>
                    <div class="card-tools">
						<div class="input-group input-group-sm">
						   <div class="input-group mb-3 rounded">
                    <input type="text" class="form-control" v-model="search" aria-label="Text input with checkbox" placeholder="Search.." @input="searchdata">
                      <div class="input-group-prepend">
                      <div class="input-group-text">
                       <i class="fa fa-search" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
						</div>
                	</div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead class="text-center">
                      <tr>
                        
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category <i class="fa fa-arrow-right"></i> Subcategory</th>
                        <!-- <th>Quantity</th> -->
                        <th># of Images</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr v-if="loading">
                        <td colspan="6">
                            <circle-spinner></circle-spinner><br>
                            <i class="font-weight-bold">Loading...</i>
                        </td>
                      </tr>
                       <tr v-else-if = "products.data.length < 1">
                          <td colspan="6"> <i>No Record...</i> </td>
                      </tr>
                      <tr v-else v-for="(product, index) in products.data" :key = "product.id">
                          <td>{{ index + 1 }}</td>
                          <td>
                            <router-link :to="{ name: 'productDetails', params: { productId: product.id}}">
                              <span class="font-weight-bold text-uppercase">{{ product.name }}</span>
                            </router-link>
                          </td>
                          <td class="font-weight-bold">{{ product.subcategory.category.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ product.subcategory.name }}</td>
                          <td v-if="!product.product_details" class="text-danger font-weight-bold">0</td>
                          <td v-else-if="product.product_details.quantity < 5" class="font-weight-bold" style="color:#E16600;">{{ product.product_details.quantity }}</td>
                          <!-- <td v-else class="text-success font-weight-bold">{{ product.product_details.quantity }}</td> -->
                          <td>{{ product.product_images.length }}</td>
                          <td>
                            <span class="badge badge-success p-2 text-white letter-spacing" @click = "openMassUpload(product.id)"> <i class="fa fa-upload" aria-hidden="true"></i>  Add More Images </span>
                            <span></span>
                            <span class="badge badge-info p-2 ml-2 text-white letter-spacing" @click = "editProduct(product.id)"><i class="fas fa-pencil-alt"></i>Edit </span>
                            <span class="badge badge-danger p-2 ml-2 text-white letter-spacing" @click = "deleteProduct(product.id,product.name)"><i class="fas fa-times"></i> Delete </span>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <pagination class="float-right" :data="products" @pagination-change-page="getResults"></pagination>
                </div>
              </div>
            </div>
        </div>
      
        <product-modal @createdSuccess="fetchAllProduct" ref="modalProduct" :mode = "mode" :productDetails = "productDetails"></product-modal>
        <image-modal @createdSuccess="fetchAllProduct" ref="imagesModal"></image-modal>
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading : false,
            showloader : false,
            overlayLoader : false,
            labelLoader : "Loading...",
            products : {},
            productDetails : {},
            mode : 'addMode',
            search:'',
        }
    },
    methods : {
        getResults(page = 1){
        this.loading = true;
        axios.get('/api/products?page='+page+'&search='+this.search).then(response =>{
          this.products = response.data;
          this.loading = false;
        });
      },
        createProduct(){
          Fire.$emit('openAdd')
          this.mode = 'addMode'
          this.showloader = true
          $("#productModal").modal('show')
          this.showloader = false
          // this.$refs.modalProduct.assignImageData();

        },
        fetchAllProduct(){
          this.loading = true;
            axios.get('api/products').then(({data})=>{
                this.products = data
                this.loading = false
            })
        },
        editProduct(id){
            this.mode = 'editMode'
            // this.showloader = true
            $("#productModal").modal('show')
            axios.get('api/products/'+id).then(({data})=>{
              Fire.$emit('openEdit', data);
              Fire.$emit('successCreated');
            })
        },

        deleteProduct(id,product){
            Swal.fire({
				title: 'Are you sure?',
				text: "You'll be able to revert it later!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete '+ product
				}).then((result) => {
				if (result.value) {
					this.showloader = true;
					axios.get('api/product/'+id).then(({data}) => {
						Fire.$emit('successCreated');
						this.showloader = false;
					});

				}
			})

        },
        searchdata(){
             this.loading = true;

             if(this.search =="" || this.search == null){
                    this.fetchAllProduct();
             }else{
                  axios.get('api/search/'+this.search).then(({data}) => {
                            this.products = data;
                            this.loading = false;
                        });
                    }
             },

        openMassUpload(id){
          this.$refs.imagesModal.loadProduct(id);
        }
    },
    created(){
      this.fetchAllProduct();
      Fire.$on("successCreated", ()=>{
        this.fetchAllProduct();
      })
    }
}
</script>
<style scoped>

</style>
