<template>
    <div>
        <!-- Modal -->
        <loading :show="showloader" :label="labelLoader" :overlay="overlayLoader"></loading>
            <div class="modal fade"  id="editCategory" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ category.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <form @submit.prevent="updateCategory">

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name">Category Name</label>
                                    <input type="text" v-model = "form.name" name= "name"  :class="{ 'is-invalid': form.errors.has('name') }" class="form-control" :placeholder = "category.name">
                                    <has-error :form = "form" field = "name"></has-error>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value = "Update">


                            </div>
                        </form>
                    </div>
                </div>
            </div>


    </div>
</template>
<script>
export default {
   props: ['category'],
   data(){
       return {
           showloader : false,
           overlayLoader : false,
           labelLoader : "Loading...",
           form: new Form({
               name: ''
           })
       }
   },
   methods : {
        updateCategory(){
            this.showloader = true;
            this.form.put('api/category/'+this.category.id).then(({data}) => {
                this.$toastr.s(`Successfully Updated Category # ${data.id}`)

                this.showloader = false;
                this.$emit('updateSuccess');
          }).catch((e) => {
              this.$toastr.e(`${this.form.name} Category Already Exists`);
              this.showloader = false;
          });
      }
   },
   created(){

   }
}
</script>
<style scoped>

</style>
