<template>
    <div>
        <b-modal ref="discountModal" hide-footer title="Discount">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <span><input type="number" v-model="discount" placeholder="Ex: 20" class="form-control text-center"></span>
                </div>
                <div class="col-md-1">
                    <span>%</span>
                </div>
            </div>
            <div class="text-center mt-3">
                <span >
                    <button class="btn btn-success" @click="saveDiscount">Save</button>
                </span>
                <span >
                    <button class="btn btn-info" @click="modalClose">Cancel</button>
                </span>
            </div>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
               discount:0,
               product_id:0,
               
            }
        },
        methods:{
            discountModalShow(id){
                axios.post('api/discount',{
                    id:id,
                })
                .then(({data}) => {
                    this.discount = data.discount * 100;
                    this.$refs['discountModal'].show();
                });
                
            },
            modalClose(){
                this.$refs['discountModal'].hide();
            },
            saveDiscount(){
                axios.post('api/discount',{
                    id:this.product_id,
                    discount:this.discount
                })
                .then(({data}) => {
                    this.$refs['discountModal'].hide();
                    Fire.$emit('showAllProductDiscount');
                });
            }
            
        },
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
