<template>

        <b-dropdown  id="dropdown-header" text="Filter by:" class="m-2">
            <b-dropdown-group v-for="(filter, index) in filters" :key="index" :id="'dropdown-group-'+index" :header="filter.name">
                <b-dropdown-item-button class="text-center " v-for="(sub, newindex) in filter.content" :key="newindex" @click="clickDrop(newindex)">
                    {{ sub }}
                </b-dropdown-item-button>
            </b-dropdown-group>
        </b-dropdown>

</template>
<script>
    // import BootstrapVue from 'bootstrap-vue';
    // import 'bootstrap-vue/dist/bootstrap-vue.css'
    Vue.use(BootstrapVue);
    export default {
        data() {
            return {
                filters : [
                    // {
                    //     name : 'Category',
                    //     content : [
                    //         'ASD', 'ASDF'
                    //     ]
                    // },
                    // {
                    //     name : 'Name',
                    //     content : [
                    //         'qwe', 'qwert'
                    //     ]
                    // },
                ]
            }
        },
        methods: {
            getFilters(){
                axios.get('api/category').then(({data}) => {

                        this.filters.push(
                            {
                                name: "Category",
                                content : [
                                    data[0].name, data[1].name, data[2].name, data[3].name, data[4].name, data[5].name
                                ]
                            },
                            {
                                name: "Name",
                                content : [
                                    'A-Z', 'Z-A'
                                ]
                            }
                        )

                        // data.forEach(element => {
                        // this.filters.push(
                        //     {
                        //         name : element.name,
                        //         content : [
                        //             element.id, element.created_at
                        //         ]
                        //     }
                        // );
                    // });
                })
            },
            clickDrop(num){
                alert(num)
            }
        },
        mounted(){
            this.getFilters();
        }
    }
</script>

<style scoped>

</style>
