<template>    
    <div class="modal fade"  id="cropModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crop Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <!-- <vue-cropper
                        ref='cropper'
                        :guides="true"
                        :view-mode="2"
                        drag-mode="crop"
                        :auto-crop-area="0.5"
                        :min-container-width="500"
                        :min-container-height="500"
                        :background="true"
                        :minCropBoxWidth="380"
                        :minCropBoxHeight="380"
                        :cropBoxResizable ="false"
                        :src="setimage"
                        alt="Source Image"
                        :cropmove="cropImage"
                        :img-style="{ 'width': '400px', 'height': '400px' }">
                    </vue-cropper>       -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: ['image'],
    data() {
        return {
            // imageData : '/img/1.png',
            setimage : ''
        }
    },
    methods: {
        cropImage(){},
        setImageData(image){
            $("#cropModal").modal('show')
            $('#cropModal').on('shown.bs.modal', function (e) {
                this.setimage = '/img/1.png';
            })
            
        }
    },
}
</script>

<style scoped>

</style>
