<template>
    <div class="modal fade" id="imagesModal" tabindex="-1" role="dialog" aria-labelledby="imagesModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-uppercase">{{ product_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="uploader"
                        @dragenter="onDragEnter"
                        @dragleave="onDragLeave"
                        @dragover.prevent
                        @drop="onDrop"
                        :class="{ dragging: isDragging }"
                    >

                        <div class="upload-control" v-show="images.length">
                            <label for="file">Select a File</label>
                            <button @click="upload">Upload</button>
                        </div>

                        <div v-show="!images.length">
                            <i class="fas fa-cloud-upload-alt upload"></i>
                            <p>Drag your images</p>
                            <div>OR</div>
                            <div class="file-input">
                                <label for="file">Select a file</label>
                                <input type="file" id = "file" multiple="multiple" @change="onInputChange">
                            </div>
                        </div>

                        <div  class="images-preview" v-show="images.length">
                            <div class="img-wrapper" v-for="(image, index) in images" :key="index">
                                <img :src="image" :alt="`Image Uploader ${index}`">
                                <div class="details">
                                    <span class="name" v-text="files[index].name"></span>
                                    <span class="size" v-text="files[index].size"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

    data(){
        return {
            isDragging: false,
            dragCount: 0,
            files: [],
            images : [],
            product_id: 0,
            product_name: '',
        }
    },
    methods: {
        loadProduct(id){
            axios.get('api/products/'+id)
                .then(response => {
                    this.product_name = response.data.name;
                    this.product_id = response.data.id
                    $("#imagesModal").modal('show')
                });
        },
        onInputChange(e){
            const files = e.target.files;
            Array.from(files).forEach(file => this.addImage(file));
        },
        onDragEnter(e){
            e.preventDefault();
            this.dragCount++;
            this.isDragging = true;
        },
        onDragLeave(e){
            e.preventDefault();
            this.dragCount--;

            if(this.dragCount <= 0)
                this.isDragging = false
            
        },
        onDrop(e){
            e.preventDefault();
            e.stopPropagation();
            
            this.isDragging = false;

            const files = e.dataTransfer.files;

            Array.from(files).forEach(file => this.addImage(file));
        },
        addImage(file){
            if(!file.type.match('image.*')){
                this.$toastr.e(`${file.name} is not an image`);
                return;
            }
            this.files.push(file);

            const img = new Image(),
                reader = new FileReader();

            reader.onload = (e) => this.images.push(e.target.result);

            reader.readAsDataURL(file);
        }, 
        getFileSize(size){
            const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
            let i =0;

            while(size > 900){
                size != 1024;
                i++;
            }

            return `${(Math.round(size * 100) / 100)} ${fSExt[i]} `;
        },
        upload(){
            // console.log(this.images);
            const formData = new FormData();
            
            this.images.forEach(file => {
                formData.append('images[]', file);
            });
            formData.append('product_id', this.product_id);

            axios.post('/api/product-image', formData)
                .then(response => {
                    this.$toastr.s('All images uploaded successfully');
                    this.images = [];
                    this.files = [];
                    this.$emit('createdSuccess');
                })
        }
    },
}
</script>
<style lang="scss" scoped>
    .upload{
        font-size: 50px;
    }
    .uploader{
        width: 100%;
        background: #2196f3;
        color: #fff;
        padding: 40px 15px;
        text-align: center;
        border-radius: 10px;
        border: 3px dashed #fff; 
        font-size: 20px;
        position: relative;

        &.dragging {
            background: #fff;
            color: #2196f3;
            border : 3px dashed #2196f3;

            .file-input label{
                background: #2196f3;
                color: #fff;
            }

        }
    }
    .file-input{
        width: 200px;
        margin: auto;
        height: 68px;
        position: relative;

        label,
        input {
            background: #fff;
            color: #2196f3;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 4px;
            margin-top: 7px;
            cursor: pointer;
        }

        input {
            opacity: 0;
            z-index: -2;
        }
    }

    .images-preview{
        display:flex;
        flex-wrap: wrap;
        margin-top: 20px;
        

        .img-wrapper{
            display: flex;
            width: 160px;
            flex-direction: column;
            margin: 10px;
            height: 150px;
            justify-content: space-between;
            background: #fff;
            box-shadow: 5px 5px 5px #0a0a0a;

            img{
                max-height: 105px;
            }
        }

        .details{
            font-size: 12px;
            background: #fff;
            color: #000;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            padding: 3px 6px;

            .name{
                overflow: hidden;
                height: 20px;
            }
        }
    }

    .upload-control{
        position: absolute;
        width: 100%;
        background: #fff;
        top: 0;
        left: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        padding-bottom: 4px;
        text-align: right ;

        button, label{
            background: #2196f3;
            border: 2px solid #03A9f4;
            border-radius: #fff;
            font-size: 15px;
            cursor: pointer;
            color: #fff;
        }
        label{
            padding: 2px 5px;
            margin-right: 10px;
        }
    }
</style>
