<template>
   <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
       <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">{{ modalTitle }}</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
               </div>

               <form @submit.prevent="mode == 'addMode'?createProduct():updateProduct()">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="subcategory" class="form-label">Category(Subcategory)</label>
                                    <select id="subcategory" :disabled="editDisable" @change="checkCategory(0)" v-model = "form.subcategory_id" class="form-control form-select font-weight-bold" :class="{ 'is-invalid': form.errors.has('subcategory_id') }">
                                        <option value="">Select Subcategory</option>
                                        <option v-for = "category in categories" :key = "category.id"  :value="category.id">{{ '('+ category.category.name +') '+category.name }}</option>
                                    </select>
                                    <has-error :form = "form" field = "subcategory_id"></has-error>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="form-label">Product Name</label>
                                    <input type="text" v-model = "form.name"  class="form-control" placeholder="Product Name" :class="{ 'is-invalid': form.errors.has('name') }">
                                      <has-error :form = "form" field = "name"></has-error>
                                </div>
                                <div class="row">
                                    <div :class="(is_manySCQ) ? 'col-12' : 'col-6'">
                                         <div class="form-group">
                                            <label for="price">Price</label>
                                            <input type="number" class="form-control" min = "0" v-model = "form.price" placeholder="Enter price" :class="{ 'is-invalid': form.errors.has('price') }">
                                            <has-error :form = "form" field = "price"></has-error>
                                        </div>
                                    </div>
                                    <div class="col-6" v-show="!is_manySCQ">
                                        <div class="form-group">
                                            <label for="size">Size</label>
                                            <input type="text" class="form-control"  v-model = "form.size[0]" placeholder="Input size here..." :class="{ 'is-invalid': form.errors.has('price') }">
                                            <has-error :form = "form" field = "size"></has-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" v-show="!is_manySCQ">
                                    <label for="quantity">Quantity</label>
                                    <input type="text" class="form-control"  v-model = "form.quantity[0]" placeholder="Input Quantity here..." :class="{ 'is-invalid': form.errors.has('quantity') }" >
                                    <has-error :form = "form" field = "quantity"></has-error>
                                </div>
                                <table class="table text-center" v-show="is_manySCQ">
                                    <thead>
                                        <tr>
                                            <th>Color</th>
                                            <th>Size</th>
                                            <th>Quantity</th>   
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(count, index) in trCount" :key = "count" :id="index">
                                             <td>
                                                <input type="text" class="form-control"  v-model = "form.color[index]" placeholder="Input color here..." :class="{ 'is-invalid': form.errors.has('color') }">
                                                <has-error :form = "form" field = "size"></has-error>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control"  v-model = "form.size[index]" placeholder="Input color here..." :class="{ 'is-invalid': form.errors.has('size') }">
                                                <has-error :form = "form" field = "size"></has-error>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" min ="0" v-model = "form.quantity[index]" placeholder="Quantity" :class="{ 'is-invalid': form.errors.has('quantity') }">
                                                <has-error :form = "form" field = "quantity"></has-error>
                                            </td>
                                            <td>
                                                <span v-show="index == 0" class="badge badge-success p-2 mt-1 rounded-0 font-weight-bold" @click="appendRow" style="box-shadow: 0px 0px 2px green; cursor: pointer;">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </span>
                                                <span v-show="index > 0" class="badge badge-danger p-2 mt-1 rounded-0 font-weight-bold" @click="removeRow(index)" style="box-shadow: 0px 0px 2px green; cursor: pointer;">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
                                <!-- <h4>Upload an Product Main Image</h4> -->

                                <div class="file-upload-form text-center py-3">
                                    <input type="file" ref="mainImage" @change="previewImage" accept="image/*" class="form-control" hidden>

                                    <button type = "button" class="btn btn-success rounded-0 btn-upload w-50" @click="uploadMain"> <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> Upload Main Image</button>

                                </div>
                                <div class="image-preview  text-center row justify-content-center"  v-if="form.imageData.length > 0">
                                    <div class="text-info  successtext ">
                                        <i class="fa fa-info-circle" aria-hidden="true"> </i>
                                        <i>Image will be cropped automatically (380 x 380). </i>
                                    </div>
                                    <img class="preview img-fluid p-2 m-2" :src="form.imageData">
                                  
                                     <div class="text-danger invisible ErrorText">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        <i>The File you Upload was not an image format.</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                 <div class="form-group">
                                        <label  class="details">Description</label>
                                        <vue-editor class="detail" :class="{ 'is-invalid': form.errors.has('description') }"  placeholder="Description here..."   v-model = "form.description"  > 
                                        </vue-editor>
                                    <has-error :form = "form" field = "description"></has-error>
                                </div>  
                            </div>                        
                        </div>
                    </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-warning font-weight-bold" v-show="mode == 'addMode'"  @click="form.reset();">Clear</button>
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-primary" :disabled="loading">
                       {{ (mode == 'editMode') ? 'Update' : 'Save' }} <circle-spinner v-show="loading" style="height: 18px;"></circle-spinner>
                   </button>
               </div>
                </form>
           </div>
       </div>
       <!-- <image-cropper :image = "image" ref="imageCropper"></image-cropper> -->
   </div>
</template>
<script>

    export default {

        props: ['mode'],
        data() {
            return {
                editDisable: false,
                is_manySCQ: false,
                trCount: 1,
                categories : {},
                products : {},
                productDetails : '',
                modalTitle:'',
                loading: true,
                image : '',
                form: new Form({
                    id : 0,
                    subcategory_id : '',
                    name : '',
                    quantity : [],
                    price: '',
                    description: '',
                    size: [],
                    color: [],
                    imageData: '/img/product-images/happy_image.png',
                })


            }

        },
        methods : {
            appendRow(){
                this.trCount = this.trCount + 1;
            },
            removeRow(number){
                $("#"+number).remove();
                // this.form.quantity[number] = null;
                this.form.quantity.splice(number);
                this.form.color.splice(number);

            },
            previewImage: function(event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                     if(!input.files[0].type.match('image.*')){
                        this.$toastr.e(`${input.files[0].name} is not an image`);

                        this.form.imageData = "/img/product-images/happy_image.png";
                            $( ".image-preview" ).addClass( "errorbox" );
                            $( ".image-preview" ).removeClass( "successbox" )
                            $( ".ErrorText" ).removeClass( "invisible" )


                    }else{
                         var reader = new FileReader();
                        reader.onload = (e) => {
                            this.form.imageData = e.target.result;
                            $( ".image-preview" ).addClass( "successbox" );
                            $( ".image-preview" ).removeClass( "errorbox" );
                            $( ".ErrorText" ).addClass( "invisible" )
                            $('.successtext').removeClass( "invisible" );
                        }
                        reader.readAsDataURL(input.files[0]);

                    }
                }
            },
            createProduct(){
                    this.loading = true;
                    this.form.post('api/products').then(({data})=>{
                        this.$toastr.s(`Successfully Created Product ${data.name}`)
                        // this.form.clear();
                        // this.form.reset();
                        this.$emit('createdSuccess')
                        this.loading = false;
                    })
                    .catch((e)=>{
                        this.loading = false;
                    })
                    // console.log(this.form.size);
                
                
            },
            updateProduct(){
                this.loading = true;
               this.form.put('api/products/'+this.form.id).then(({data}) => {
                   this.$toastr.s(`Successfully Updated Product # ${data.id}`)
                   this.$emit('createdSuccess');
                   this.loading = false;
               }).catch((e) => {
                //    this.$toastr.w("Image must not be null!")
                    this.loading = false;
                });
            },
            getSubcategory(){
                axios.get('api/subcategory').then(({data}) => {
                    this.categories = data.data
                });
            },

            assignImageData(){
                this.form.imageData = '/img/1.png';
            },
            uploadMain(){
                this.$refs.mainImage.click();
            },
            checkCategory(id){
                (id == 0) ? id = this.form.subcategory_id : id;
                axios.get('api/category/getCategoryId/'+id).then(({data}) => {
                    if(data.category_id == 1){
                        this.is_manySCQ = true;
                    }else if(data.category_id == 2){
                        console.log(id)
                        this.is_manySCQ = false;
                    }else if(data.category_id == 3){
                        this.is_manySCQ = true;
                    }else if(data.category_id == 4){
                        this.is_manySCQ = false;
                    }else if(data.category_id == 5){
                        this.is_manySCQ = true;
                    }else{
                        this.is_manySCQ = false;
                    }
                })
            }

        },
        created(){

            this.getSubcategory();
            Fire.$on('openEdit', (data)=>{
                this.editDisable = true;
                this.checkCategory(data.subcategory.id);
                this.trCount = Object.keys(data.product_details).length;
                var color = [];
                var quantity = [];
                var size = [];
                data.product_details.forEach(element => {
                    color.push(element.color);
                    quantity.push(element.quantity);
                    size.push(element.size);
                });
                
                this.form.id = data.id
                this.form.color = color;
                this.form.quantity = quantity;
                this.form.size = size;
                this.modalTitle = "Edit Product " + data.name;
                this.form.name = data.name;
                this.form.price = data.price;
                // this.form.size = data.product_details[0].size;
                this.form.description = data.product_details[0].description;
                this.form.imageData = (!data.product_images[0]) ? '/img/product-images/happy_image.png' : "/img/product-images/"+data.product_images[0].image
                this.form.subcategory_id = data.subcategory_id
                this.loading =  false;
                
            });

            Fire.$on('openAdd', ()=>{
                this.editDisable = false;
                this.modalTitle = 'Add Product';
                this.trCount = 1;
                this.form.reset();
                this.form.clear();
                this.loading = false
            })

        },
    }

</script>
<style scoped>
    .file-upload-form, .image-preview {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    img.preview {
        box-shadow: 0px 0px 5px gray;
    }
    .errorbox img.preview{
         box-shadow: 0px 0px 5px red ;
    }
    .successbox img.preview{
         box-shadow: 0px 0px 5px gray ;
    }
</style>
