<template>
   <div class="modal fade" id="modalOrderItems" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
       <div class="modal-dialog modal-xl" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">Modal title</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
               </div>
               <div class="modal-body">
                    <h3 class="text-center">User Details</h3>
                    <div class="row mb-5 justify-content-center">
                       <div class="col-md-4 text-right">
                            <img :src="user.avatar" class="img-fluid" alt="Profile Pic">
                       </div>
                        <div class="col-md-4">
                            <span class="font-weight-bold text-capitalize">Name:</span>  {{ user.name }} <br>
                            <span class="font-weight-bold text-capitalize">Contact #: </span> {{ userdetails.mobile }} <br>
                            <span class="font-weight-bold text-capitalize">Email: </span> {{ userdetails.email }} <br>
                            <span class="font-weight-bold text-capitalize">Address:</span> {{ userdetails.address }} <br>
                        </div>
                    </div>
                    <hr>
                    <h3 class="text-center">Order Details</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>&nbsp;</th>
                                <th>Order</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                    <div v-for="(orderdetail, index) in orders.order_details" :key="orderdetail.id">
                        <tr>
                            <td>{{ index + 1 }}</td>
                            <td >
                                <img style="height: 100px; width: 100px;" :src="'/img/product-images/'+ orderdetail.product_details.products.product_images[0].image" :alt="orderdetail.product_details.products.name">
                            </td>
                            <td>
                                {{ orderdetail.product_details.products.name }}
                            </td>
                        </tr>
                        <!-- {{ orderdetail.product_details.products.product_images }} -->
                        
                    </div>
                            </tbody>
                    </table>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save</button>
               </div>
           </div>
       </div>
   </div>
</template>
<script>
export default {
    props: ['testlang'],
    data(){
        return {
            orders: {},
            user : {},
            userdetails: {}
        }
    },
    methods : {
        getOrderById(orderid){
            axios.get('api/order/'+orderid).then(({data}) => {
                this.orders = data;
                this.user = data.user;
                this.userdetails = data.user.user_details
            })
        }  
    },
    mounted(){
        Fire.$on('openOrder', (data)=>{
            this.getOrderById(data);
        });
    }
}
</script>
<style lang="scss">

</style>