<template>
   <div class="modal fade" id="addsubcategorymodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <loading :show="showloader" :label="labelLoader" :overlay="overlayLoader"></loading>
       <div class="modal-dialog modal-dialog-centered" role="document">

           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">{{ title }}</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                </div>
                    <form @submit.prevent="(editMode) ? editSubcategory(subId) : addSubcategory()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-control" v-model = "form.category_id" id = "category"  :class="{ 'is-invalid': form.errors.has('category_id') }">
                                <option value="">Select Category</option>
                                <option v-for = "category in categories" :key = "category.id" :value = "category.id">{{ category.name }}</option>
                            </select>
                             <has-error :form = "form" field = "category_id"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="sub_name" class="form-label">Subcategory Name</label>
                            <input type="text" v-model = "form.name" class="form-control" placeholder="Input Subcategory name"  :class="{ 'is-invalid': form.errors.has('name') }">
                             <has-error :form = "form" field = "name"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">{{ (editMode) ? "Update" : "Save"}}</button>
                    </div>
                </form>
           </div>
       </div>
   </div>
</template>
<script>
export default {
    props: ['title', 'categories', 'editMode'],
    data() {
        return {
            showloader : false,
            overlayLoader : false,
            labelLoader : "Loading...",
            subId: 0,
            form : new Form({
                category_id : "",
                name : ''
            })
        }
    },
    methods : {
       addSubcategory(){
           this.showloader = true;
           this.form.post('api/subcategory').then(({data}) => {
                this.showloader = false;
                this.$toastr.s(`Successfully Created Subcategory ${data.name}`);
                this.form.clear();
                this.form.reset()
            this.$emit('createdSuccess');
           });
       },
       editSubcategory(id){
           this.form.put("api/subcategory/"+id).then(({data})=>{
               this.$toastr.s(`Successfully Updated to ${data}`);
                this.$emit('createdSuccess');

           }).catch((e)=>{
               this.$toastr.e(`Oops, Cant't update this subcategory. Please contact administrator.`);
           });
       }
    },
    created(){
       Fire.$on('openEdit', (data)=>{
           this.form.fill(data)
           this.subId = data.id
       })
       Fire.$on('openAdd', ()=> {
           this.form.category_id = "";
           this.form.name = ""

        });

    }

}
</script>
<style scoped>

</style>
