<template>
    <div>
        <div class="modal fade" id="addcart-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="m-auto font-weight-bold">My Cart</h3>
                    </div>
                    <div class="modal-body p-4" style="max-height:500px;overflow:auto;">
                        <div class="row">
                            <div class="col-md-8" style="border-right:1px solid;border-color: #DEE2E6">
                                <div class="row font-weight-bold gray">
                                    <div class="col-md-7">
                                        ITEM/S
                                    </div>
                                    <div class="col-md-2 text-center">
                                        ITEM PRICE
                                    </div>
                                    <div class="col-md-2 text-center">
                                        QUANTITY
                                    </div>
                                    <div v-for="(cartDetail, index) in cartDetails" :key="cartDetail.id">
                                        <div class="row">
                                        <div class="col-md-2">
                                                <img class="img-fluid" :src="'/img/product-images/'+cartDetail.product_details.products.product_images[0].image" alt=""> 
                                        </div>
                                        <div class="col-md-5">
                                                {{cartDetail.product_details.products.name}}
                                                <br>
                                                <br>
                                                <span v-show="cartDetail.product_details.color" class="h5 text-capitalize font-weight-bold font-italic cyan">{{cartDetail.product_details.color}}</span>                                 
                                        </div>
                                        <div class="col-md-2 text-center">
                                            ₱{{cartDetail.product_details.products.price}}
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <button @click="minusQuantity(index)"><i class="fas fa-minus" id="minus" ></i></button>
                                                
                                                <span>
                                                    <input  disabled class="text-center font-weight-bold" type="text" v-model="cartQuantity[index]"  style="width:30px;">
                                                </span>

                                                <button @click="addQuantity(index)"><i class="fas fa-plus" ></i></button>  
                                        </div>
                                        <div class="col-md-1">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                        </div>
                                        <hr>
                                    </div> 
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-center h5 font-weight-bold">
                                    Order Summary
                                </div>
                                <div>
                                    Subtotal (<span>{{totalQuantity}}</span> items)
                                    <span class="float-right">{{totalPrice | currency}}</span>
                                </div>
                                <div>
                                    Shipping Fee <span class="float-right">Free</span>
                                </div>
                                <div class="mt-5">
                                    <span class="font-weight-bold h5">Total</span>  <span class="float-right">{{totalPrice | currency}}</span>
                                </div>
                                <button type="button" class="btn btn-success form-control orange" @click="updateCart()">Check Out</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['user_id'],
        
        data(){
            return {
                cartDetails: {},
                totalQuantity: 0,
                totalPrice: 0,
                cartQuantity:[]
            }
        },
        methods: {
            add(){
                this.count++;
            },
            loadcart(){
                let sumQuantity = [];
                let sumPrice = [];
                this.cartQuantity = [];
                if(this.user_id != ""){
                    axios.get('/api/cart/'+this.user_id)
                    .then(({data}) => {
                        this.cartDetails = data;
                        data.forEach(element => {
                            this.cartQuantity.push(element.quantity);
                        });

                        Object.entries(data).forEach(([key, val]) => {
                            sumQuantity.push(val.quantity) // the value of the current key.
                            sumPrice.push(val.product_details.products.price * val.quantity)
                        });
                            this.totalQuantity =  sumQuantity.reduce(function(sum, num){ return sum + num }, 0);
                            this.totalPrice =  sumPrice.reduce(function(sum, num){ return sum + num }, 0);
                        }
                    );
                }
                
            },

            minusQuantity(index){
                if(this.cartQuantity[index] > 1){
                    var newQuantity = this.cartQuantity[index] - 1;
                    Vue.set(this.cartQuantity, index, newQuantity);
                }   
            },

            addQuantity(index){
               var max = this.cartDetails[index].product_details.quantity;
                if(this.cartQuantity[index] < max){
                    var newQuantity = this.cartQuantity[index] + 1;
                    Vue.set(this.cartQuantity, index, newQuantity);
                }   
            },
            updateCart(){
                axios.post("/order", { cartQuantity: this.cartQuantity, cartDetails: this.cartDetails }).then((data)=>{
                    window.location.href = '/+checkout';
                })
                // console.log(this.cartDetails);
                // console.log(this.totalPrice);
            }
        },
        mounted(){
                this.loadcart();
                Fire.$on('afterCreate', ()=>{
                    this.loadcart();
                })
                
           
        }
    
    }
</script>