<template>
    <div>
        <div class="p-4">
    <div class="h1 font-weight-bold recommended">
        Recommended For You
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img v-lazy="'img/carousel-img1.jpg'" class="d-block w-100" alt="First slide">
            <div class="carousel-caption d-none d-md-block" style="top:35%;">
                <div class="print-slogan h1 font-weight-bold p-5">
                    "YOUR BUSINESS OUTSOURCE PARTNER"
                </div>
            </div>
            </div>
            <div class="carousel-item">
                <img v-lazy="'img/carousel-img1.jpg'" class="d-block w-100" alt="First slide">
                <div class="carousel-caption d-none d-md-block" style="top:35%;">
                    <div class="print-slogan h1 font-weight-bold p-5">
                        "WE PRINT TO ALMOST EVERYTHING"
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img v-lazy="'img/carousel-img1.jpg'" class="d-block w-100" alt="First slide">
                <div class="carousel-caption d-none d-md-block" style="top:35%;">
                    <div class="print-slogan h1 font-weight-bold p-5">
                        "WE PRINT TO ALMOST EVERYTHING"
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    </div>
</template>