<template>
        <div class="content-header">
            <div v-show="page == 'dashboard'" class="container-fluid text-center p-4" style="background-color: #E16600; background-image: url('/img/bg-header.png'); height: 100px;">
                <img src="/img/HappyBeeText.png" class="h-100">
            </div><!-- /.container-fluid -->
           
        </div>
</template>
<script>
export default {
    props: ['page']
}
</script>