<template>
    <div >
        <header-content page = "dashboard"></header-content>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info text-dark">
                    <div class="card-body text-white p-5" >
                        <div class="float-right h1"> <i class="fas fa-dollar-sign"></i> </div>
                        <div style="line-height: 15px; letter-spacing: 2px;">
                            <h4>Weekly Sales</h4>
                            <h2>15,000</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger text-dark">
                    <div class="card-body text-white">
                        <h2> <i class="fas fa-user"></i> Pending Orders</h2><br>
                        <span class="float-right h1">123</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success text-dark">
                   <div class="card-body text-white" style="line-height: 15px;">
                        <h2> <i class="fas fa-user"></i> Delivered Order</h2><br>

                        <span class="float-right text-uppercase font-weight-bold" style="text-indent: 5px; letter-spacing: 2px;"> <br>  <span class=" h1">123</span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style scoped>
    .bg-gradient-info{
        background: rgb(142,201,249);
        background: linear-gradient(90deg, rgba(142,201,249,1) 0%, rgba(75,164,236,1) 46%, rgba(4,126,223,1) 100%);
        min-height: 200px;
        max-height: 200px;

    }
    .bg-gradient-danger{
        background: rgb(255,191,150);
        background: linear-gradient(90deg, rgba(255,191,150,1) 0%, rgba(254,151,150,1) 46%, rgba(254,112,150,1) 100%);
        min-height: 200px;
        max-height: 200px;

    }
    .bg-gradient-success{
        background: rgb(130,217,210);
        background: linear-gradient(90deg, rgba(130,217,210,1) 0%, rgba(72,212,193,1) 48%, rgba(58,215,190,1) 100%);
        min-height: 200px;
        max-height: 200px;

    }
</style>

