<template>
  <div>
      
  <div  v-for="(category, index) in categories" :key="category.id" class="px-4">
      <div v-if="category.subcategories[0]">
      <div v-if="category.subcategories[0].products.length > 0">
        <div   class="p-3">
            <div class="text-center font-weight-bold">
                <h2>{{category.name}}</h2> 
            </div>
        </div>
        <div v-for="subcategory in category.subcategories" :key="subcategory.id">
                <h3>{{  (subcategory.products.length > 0) ? subcategory.name : '' }}</h3>
            <div v-show="subcategory.products.length>0"  class="row justify-content-center" >
                <div class="text-center w-100 bg-warning" v-if="subcategory.products.length<1">No Record...</div>

                <div v-for="product in subcategory.products.slice(0,6)" :key="product.id" class="col-md-2 p-2 col-6 img-container product-div text-dark productCont">
                   
                    <div>  
                        <a :href="'/product/'+product.id">
                            <img v-if="!product.product_images[0]" v-lazy="'/img/product-images/happy_image.png'"
                                class="img-fluid"
                            />
                            <img v-else v-lazy="'/img/product-images/'+product.product_images[0].image"
                                class="img-fluid" :alt="product.name"
                            />
                        </a>
                        <div v-if="product.name.length<20" class="w-100 text-left" style="height:60px;font-size:17px;font-weight:normal">{{product.name}}</div>
                        <div v-else class="w-100 text-left" style="height:60px;font-size:17px;font-weight:normal">{{product.name.substring(0,40)+"..."}}</div>
                        <div v-show="product.discount != 0" class="topright bg-warning p-1">
                            <span>{{product.discount | discount}}%</span>
                        </div>
                        <div class="w-100">
                            <div class=" text-center" style="line-height:17px;max-width:100%;">
                                    
                                    <div class="text-left">
                                        <span class=" text-left text-green" style="font-size:17px;">{{product.price- (product.price * product.discount) | currency}}</span>
                                    <br>
                                    <del v-show="product.discount != 0" class="text-danger" style="font-size:12px;">{{product.price | currency}}</del>
                                        <span class="float-right">
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star active-star"></i>
                                            <i class="fas fa-star deactive-star"></i>
                                        </span> 
                                    </div>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>
                <div class="row mt-3">
                    <div v-show="subcategory.products.length>0" v-if="index == 0" class="col-md-3 ml-auto">
                        <button class="btn green w-100 ml-auto">VIEW ALL</button>
                    </div>
                    <div v-show="subcategory.products.length>0" v-else class="col-md-3 ml-auto">
                        <button class="btn orange w-100">VIEW ALL</button>
                    </div>
                </div>
        </div>
    </div>
  </div>
  </div>
</div>
   
</template>
<script>
export default {
    data(){
        return {
            categories:{},
        }
    },
    methods:{
        loadCategories(){
            axios.get('api/category')
            .then(({data}) => {
                this.categories = data;
                console.log(data)  
            });
        }
    },

    async mounted(){
        this.loadCategories();
        
        console.log("mounted component");
    }
}
</script>
