<template>
    <div>
        <form @submit.prevent="registerCustomer()">
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <div class=" h4 text-center p-4">
                    <span class="orange-font">
                        Welcome!
                    </span> 
                    <span class="green-font">
                        Please Register Account
                    </span> 
                </div>
                <div class="p-4">
                <div class="pl-4 pr-4">
                    <span class="form-group has-float-label">
                            <input class="form-control material-textbox" v-model="form.email" autocomplete="off" id="email" type="email" placeholder=" " :class="{ 'is-invalid': form.errors.has('email') }">
                            <label for="email">Email</label>
                             <has-error :form = "form" field = "email"></has-error>
                    </span>
                </div>
                <div class="pl-4 mt-4 pr-4">
                    <span class="form-group has-float-label">
                            <input class="form-control material-textbox" v-model="form.name"  autocomplete="off" id="name" type="name" placeholder=" " :class="{ 'is-invalid': form.errors.has('name') }">
                            <label for="name">Full Name(First Last)</label>
                             <has-error :form = "form" field = "name"></has-error>
                    </span>
                </div>
                <div class="pl-4 mt-4 pr-4">
                    <span class="form-group has-float-label">
                            <input class="form-control material-textbox" v-model="form.password"  autocomplete="off" id="password" type="password" placeholder=" " :class="{ 'is-invalid': form.errors.has('password') }">
                            <label for="password">Password</label>
                            <has-error :form = "form" field = "password"></has-error>
                    </span>
                </div>
                <div class="pl-4 mt-4 pr-4">
                    <span class="form-group has-float-label">
                            <input class="form-control material-textbox" v-model="form.password_confirmation"  autocomplete="off" id="password_confirmation" type="password" placeholder=" "  :class="{ 'is-invalid': form.errors.has('conpassword') }">
                            <label for="password_confirmation">Confirm Password</label>
                            <has-error :form = "form" field = "password_confirmation"></has-error>
                    </span>
                </div>
                <div class="pl-4 mt-4 pr-4">
                    <div class="row">
                        <div class="w-100 pl-3">
                        <h5>
                            Date of Birth
                        </h5>
                        </div>
                        <div class="col-md-4">
                            <select id="dobday" v-model="form.day"  class="form-control"></select> 
                        </div>
                        <div class="col-md-4">
                            <select id="dobmonth" v-model="form.month" class="form-control"></select>
                        </div>
                        <div class="col-md-4">
                            <select id="dobyear" v-model="form.year" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="pl-4 mt-4 pr-4">
                    <span class="form-group has-float-label">
                            <input class="form-control material-textbox" v-model="form.address" autocomplete="off" id="address" type="conpassword" placeholder=" ">
                            <label for="address">Complete Address(Address Book)</label>
                    </span>
                </div>
                <div class="pl-4 mt-4 pr-4">
                    <button class="btn orange form-control">Register</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                form: new Form({
                    email:''
                })
            }
        },
        methods:{
            registerCustomer(){
                this.form.post('/api/customer')
                .then((data) => {
                    $('#registerModal').modal('hide');
                })
                .catch(()=>{

                })
            }
            

            
        },
        mounted(){
            $.dobPicker({
                daySelector: '#dobday',
                monthSelector: '#dobmonth',
                yearSelector: '#dobyear',
                dayDefault: 'Day',
                monthDefault: 'Month',
                yearDefault: 'Year',
            });
            // console.log('register mounted');
        }
    }
</script>