<template>
    <div class="container">
        <loading :show="showloader" :label="labelLoader" :overlay="overlayLoader"></loading>
        <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Category Table</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead class="text-center">
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th># of Subcategory</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr v-if="loading">
                        <td colspan="4">
                            <circle-spinner></circle-spinner>
                        </td>
                      </tr>
                      <tr v-else-if = "categories.length < 1">
                          <td colspan="4"> <i>No Record</i> </td>
                      </tr>
                      <tr v-else v-for="category in categories" :key = "category.id">
                          <td>{{ category.id }}</td>
                          <td>{{ category.name }}</td>
                          <td>{{ category.subcategories.length }}</td>
                          <td><span class="badge badge-info p-2 text-white letter-spacing" @click = "editCategory(category.id)"><i class="fas fa-pencil-alt"></i>Edit </span></td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
        </div>
       
        <editcategory-modal :category = "category" @updateSuccess = "updateSuccess"></editcategory-modal>
    </div>
</template>

<script>
   
    export default {
      data() {
        return {
          categories : {},
          category: '',
          showloader : false,
          labelLoader: 'Loading...',
          overlayLoader: false,
          loading:false
        }
      },
      methods : {
        loadCategories(){
          let self = this;
          this.loading = true
          axios.get('/api/category').then(({data})=>{
              self.categories = data
              this.loading = false
          }).catch();
        },
        editCategory(id){
          this.showloader = true;
          axios.get('api/category/'+id).then(({data}) => {
            this.category = data
            this.showloader = false;
            $("#editCategory").modal('show')
          });
        },
        updateSuccess(){
          Fire.$emit('AfterCreate')
        }
      },
      created(){
        this.loadCategories();
        Fire.$on('AfterCreate', () => {
          this.loadCategories();
        })
      },
      mounted() {
          console.log('Component mounted.')
      }
    }
</script>
<style>
    .letter-spacing{
        letter-spacing: 2px;
    }
</style>

