<template>
    <div class="container-fluid p-4">
		<h3 class="card-title">Orders</h3>

        <div class="row mt-2 justify-content-center">
            <div class="col-12">
                <div class="card">
              <div class="card-header">
                	<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" :class="(activeAll) ? 'active' : ''" @click="getOrder()" >All</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  @click="getOrder('processing')" :class="(activeProcessing) ? 'active' : ''" >Processing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" @click="getOrder('pending')" :class="(activePending) ? 'active' : ''" >Pending</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" @click="getOrder('delivery')" :class="(activeDelivery) ? 'active' : '' ">On Delivery</a>
						</li>
							<li class="nav-item">
							<a class="nav-link" @click="getOrder('delivered')"  :class="(activeDelivered) ? 'active' : '' ">Delivered</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" @click="getOrder('cancelled')"  :class="(activeCancelled) ? 'active' : '' ">Cancelled</a>
						</li>
                	</ul>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
						<tr class="text-center">
						<th>#</th>
						<th>Order #</th>
						<th>Items</th>
						<th>Delivery Status</th>
						<th>Payment Status</th>
						<th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
					<tr v-if="loading" class="text-center">
						<td colspan="6">
							<circle-spinner></circle-spinner>
						</td>
					</tr>
					<tr v-else-if="orderLength < 1" class="text-center">
						<td colspan="6"> 
							<i>No Record...</i> 
						</td>
					</tr>
                    <tr v-else class="text-center" v-for="(order, index) in orders.data" :key ="order.id">
                      <td>{{ index + 1 }}</td>
                      <td>{{ order.order_no }}</td>
                      <td> <a @click="openModalItems(order.id)" style="color:blue; cursor: pointer;">{{ order.order_details.length }}</a> </td>
                      <td class="text-capitalize">{{ (order.status == 'delivery')  ? "on "+order.status : order.status}}</td>
                      <td><span class="tag tag-success">Approved</span></td>
                      <td>
                          <span v-if="order.status == 'pending'" class="badge badge-info p-2" @click="process(order.id, order.order_no, 'processing')">Process Now</span>
                          <span v-else-if="order.status == 'processing'" class="badge badge-primary p-2" @click="process(order.id,order.order_no, 'delivery')">Deliver</span>
                          <span v-else-if="order.status == 'delivery'" class="badge badge-success p-2" @click="process(order.id, order.order_no, 'delivered')">Delivered</span>
                          <span v-else-if="order.status == 'delivered'" class="alert alert-success p-2">Successfully Delivered</span>   
						  <span v-else-if="order.status != 'cancelled'"  class="badge badge-warning p-2" @click="process(order.id, order.order_no, 'cancelled')">Cancel</span>
                          <span v-else class="alert alert-danger p-2">Cancelled</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>
        </div>
		<order-items testlang="testest"></order-items>
    </div>
</template>
<script>
export default {
  data(){
    return {
      orders : {},
	  activeAll : true,
	  activeProcessing : false,
	  activePending : false,
	  activeDelivery : false,
	  activeDelivered : false,
	  activeCancelled : false,
	  loading: false,
	  orderLength : 0,
	  orderid : 0
    }
  },
  methods: {
    getOrder(status = null){
		this.loading = true;
		if(status == null){
			this.activeProcessing = false;
			this.activeAll = true;
			this.activePending = false;
			this.activeDelivery = false;
			this.activeDelivered = false;
			this.activeCancelled = false;
			axios.get('/api/order').then(({data})=>{
				this.orders = data;
				this.orderLength = Object.keys(data.data).length;
				this.loading = false;		
			});
		}else{
			if(status == 'processing'){
				this.activeProcessing = true;
				this.activeAll = false;
				this.activePending = false;
				this.activeDelivery = false;
				this.activeDelivered = false;
				this.activeCancelled = false;
			}else if(status == 'pending'){
				this.activeProcessing = false;
				this.activeAll = false;
				this.activePending = true;
				this.activeDelivery = false;
				this.activeDelivered = false;
				this.activeCancelled = false;
			}else if(status == 'delivery'){
				this.activeProcessing = false;
				this.activeAll = false;
				this.activePending = false;
				this.activeDelivery = true;
				this.activeDelivered = false;
			}else if(status == 'cancelled'){
				this.activeProcessing = false;
				this.activeAll = false;
				this.activePending = false;
				this.activeDelivery = false;
				this.activeDelivered = false;
				this.activeCancelled = true;
			}else{
				this.activeProcessing = false;
				this.activeAll = false;
				this.activePending = false;
				this.activeDelivery = false;
				this.activeDelivered = true;
			}
			axios.get('/api/order/get/'+status).then(({data}) => {
				this.orders = data;
				this.orderLength = Object.keys(data.data).length;
				this.loading = false;
			});		
		}
	},
	process(orderid, orderNumber, status){
		var newStatus = null;
		axios.get('/api/order/'+orderid+'/'+status).then((data)=>{
			if(status == 'delivery' || status == 'processing'){
				this.$toastr.i(`Order ${orderNumber} has been put on ${status}.`);
			}else{
				this.$toastr.s(`Order ${orderNumber} has been ${status} successfully.`);
			} 

			if(this.activePending === true){
				newStatus = 'pending';
			}else if(this.activeProcessing === true){
				this.getOrder('processing');
			}else if(this.activeDelivery === true){
				newStatus = 'delivery';
			}else if(this.activeDelivered === true){
				newStatus = 'delivered';
			}else if(this.activeCancelled === true){
				newStatus = 'cancelled';
			}else{
				newStatus = null;
			}
			

			this.getOrder(newStatus);
		})
	},
	openModalItems(orderid){
		Fire.$emit('openOrder', orderid);
		$("#modalOrderItems").modal('show');
	}
		
  },
  mounted(){
    this.getOrder();
  }
}
</script>
<style lang="scss" scoped>
  span.badge{
    cursor: pointer;
  }
  .nav-tabs li a {
	  font-weight: bold;
	  color: #E16600;
	  cursor: pointer;

	//   &.active{
	// 	  cursor: auto;
	//   }
  }
</style>