<template>
   <div class="modal fade" id="usermodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <loading :show="showloader" :label="labelLoader" :overlay="overlayLoader"></loading>
       <div class="modal-dialog modal-dialog-centered" role="document">

           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">{{ title }}</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                </div>
                    <form @submit.prevent="(editMode) ? editUser(userId) : adduser()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="form-label">Full  Name</label>
                            <input type="text" v-model = "form.name" class="form-control" placeholder="Full name of User"  :class="{ 'is-invalid': form.errors.has('name') }">
                             <has-error :form = "form" field = "name"></has-error>
                        </div>

                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" v-model = "form.email" class="form-control" placeholder="email address of User"  :class="{ 'is-invalid': form.errors.has('email') }">
                             <has-error :form = "form" field = "email"></has-error>
                        </div>

                        <div class="form-group">
                            <label for="password" class="form-label">Temporary Password</label>
                            <input type="password" v-model = "form.password" class="form-control" placeholder="password"  :class="{ 'is-invalid': form.errors.has('password') }">
                             <has-error :form = "form" field = "password"></has-error>
                        </div>

                         <div class="form-group">
                            <label for="type" class="form-label">User Type</label>
                            <select class="form-control" v-model = "form.type" id = "type"  :class="{ 'is-invalid': form.errors.has('type') }">
                                <option value="" disabled selected>Select Type of User</option>
                                <option value="administrator">Administrator</option>
                                <option value="user">Regular User</option>
                                <option value="delivery">Delivery Staff</option>
                            </select>
                             <has-error :form = "form" field = "type"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">{{ (editMode) ? "Update" : "Save"}}</button>
                    </div>
                </form>
           </div>
       </div>
   </div>
</template>
<script>
export default {
    props: ['title', 'editMode'],
    data() {
        return {
            showloader : false,
            overlayLoader : false,
            labelLoader : "Loading...",
            userId: 0,

            form : new Form({
                name : '',
                email:'',
                password:'',
                type:'',
            })
        }
    },
    methods : {
       adduser(){
           this.showloader = true;
           this.form.post('api/user').then(({data}) => {
                this.showloader = false;
                this.$toastr.s(`User created successfully`);
                this.form.clear();
                this.form.reset()
                $("#usermodal").modal('hide');
            this.$emit('createdSuccess');
           }).catch(()=>{
               this.$toastr.e("Something went wrong! Please contact web administrator.");
           });
       },
       editUser(id){
            this.form.put("api/user/"+id).then(({data})=>{
            $("#usermodal").modal('hide');
            this.$emit('createdSuccess');
           }).catch((e)=>{
               this.$toastr.e(`Oops, Can't update this user. Please contact web administrator.`);
           });
       },
       openEdit(data){
           this.form.fill(data)
           this.userId = data.id
           $("#usermodal").modal('show');
       }


    },
    created(){

       Fire.$on('openAdd', ()=> {
           this.form.email = "";
           this.form.name = "";
           this.form.type="";
        });

    }

}
</script>
