<template>
    <div class="container">
        <loading :show="showloader" :label="labelLoader" :overlay="overlayLoader"></loading> 
		<div class="row">
			<div class="col-4 ml-auto">
				<select name="" id="" class="form-control mb-2 mt-2 rounded-0 filterSelect" >
					<option value="">Filter</option>
					<option value="">By name</option>
				</select>
			</div>	
		</div>     
        <div class="row justify-content-center">	
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Subcategory Table</h3>
                  	<div class="card-tools">
						<div class="input-group input-group-sm">
							<button class="btn btn-success" @click="openAddModal"> <i class="fas fa-plus"></i> Add SubCategory</button>
						</div>
                	</div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead class="text-center">
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Categories</th>
						<th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
					<tr v-if="loading">
						<td colspan="4">
							<circle-spinner></circle-spinner>
						</td>
					</tr>
					<tr v-else-if="subcategories.length < 1 ">
						<td colspan="5"><i>No Record...</i></td>
					</tr>
                     <tr v-else v-for = "(subcategory, index) in subcategories" :key = "subcategory.id">
                        <td>{{ index+1 }}</td>
                        <td>{{ subcategory.name }}</td>
                        <td>{{ subcategory.category.name }}</td>
						
						<td v-if = "subcategory.is_active" style = "color:green; font-weight:bold;">Active</td>
						<td v-else style = "color:red; font-weight:bold;">Inactive</td>
                        <td>
							<span class="badge badge-info p-2 text-white letter-spacing" @click = "editSub(subcategory.id)"><i class="fas fa-pencil-alt"></i>Edit </span>

							<span v-if="!subcategory.is_active" class="badge badge-success p-2 text-white letter-spacing" @click = "changeStatus(subcategory.id, 'activate')">
								<i class="fas fa-check"></i>
								Activate 
							</span>
							
							<span v-else class="badge badge-danger p-2 text-white letter-spacing" @click = "changeStatus(subcategory.id, 'deactivate')">
								<i class="fas fa-times"></i>
								Deactivate 
							</span>
							 <span  class="badge badge-danger p-2 text-white letter-spacing" @click="deletesub(subcategory.id,subcategory.name)">
							<i class="fa fa-trash" aria-hidden="true"></i>
								Delete
							</span>
						</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
        </div>
        <subcategory-modal :title = "title" :categories = "categories" @createdSuccess = "successModal" :editMode = "editMode" ></subcategory-modal>
    </div>
</template>
<script>
export default {
    data() {
      return {
        showloader : false,
        overlayLoader : false,
        labelLoader : "Loading...",
		categories : {},
		editMode : false,
		subcategories : {},
		subcategory : {},
		title : '',
		loading: false
      }
    },
    methods: {
		fetchSubcategories(){
			this.loading = true;
			axios.get('api/subcategory').then(({data}) => {
				this.subcategories = data.data
				this.loading = false;
			})
		},
		openAddModal(){
			this.editMode = false;
			this.showloader = true
			Fire.$emit('openAdd')
			axios.get('api/category').then(({data}) => {
				this.categories = data
				this.title = 'Add Subcategory';
				$("#addsubcategorymodal").modal('show');
				this.showloader = false
			}).catch((e)=>{
				this.showloader = false;
				Swal.fire({
					type: 'error',
					title: 'Oops...',
					text: 'Something went wrong!',
					footer: 'Contact Web Administrator'
				})
			})
		},
		editSub(id){
			this.editMode = true;
			this.showloader = true
			axios.get('api/category').then(({data}) => {
				this.categories = data
				this.title = 'Edit Subcategory';
				
			})
			axios.get('api/subcategory/'+id).then(({data})=>{
				this.title = "Edit "+data.name
				this.subcategory = data
				$("#addsubcategorymodal").modal('show');
				Fire.$emit('openEdit', data)
			})
			
			this.showloader = false
		},
		changeStatus(id, type){
			Swal.fire({
				title: 'Are you sure?',
				text: "You'll be able to revert it later!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, '+type+' it!'
				}).then((result) => {
				if (result.value) {
					this.showloader = true;
					axios.get('/api/subcategory/'+id+'/changestatus/'+type).then(({data}) => {
						if(type == 'deactivate'){
							type = 'Deactivated';
						}else{
							type = 'Activated'
						}
						Swal.fire(
							type,
							data.name+' has been '+type+'.',
							'success'
						)
						
						Fire.$emit('successCreated');
						this.showloader = false;
					});
					
				}
			})
		},
		deletesub(id,name){
			 Swal.fire({
				title: 'Are you sure?',
				text: "You'll be able to revert it later!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete '+name
				}).then((result) => {
				if (result.value) {
					this.showloader = true;
					axios.get('api/subcategorys/'+id).then(({data}) => {

						Fire.$emit('successCreated');
						this.showloader = false;
					});

				}
			})
		},
		successModal(){
			Fire.$emit('successCreated')
		}
	},
	created(){
		this.fetchSubcategories();
		Fire.$on('successCreated', () => {
			this.fetchSubcategories();
		});
	}
}
</script>
<style scoped>
	.filterSelect{
		box-shadow: 0px 0px 3px gray;
	}
	
</style>
