<template>
    <div class="container productDetails">
        <div v-if="loading" class="row">
            <div class="col-md-12 text-center mt-5">
                <circle-spinner></circle-spinner><br>
                <i class="font-weight-bold">Loading, Please Wait...</i>
            </div>
        </div>
        <div v-else>
            <div class="my-2 p-2 text-uppercase font-weight-bold">
                <router-link to="/products">
                <i class="fas fa-box-open"></i>
                <span>Product</span>
                </router-link>   &nbsp;
                <i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp;
                Product Details ( {{ product_name }} )
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-12 col-12 ">
                    <table class="table table-striped table-bordered mt-2">
                        <tr>
                            <td>Product :</td>
                            <td>{{ product_name }}</td>
                        </tr>
                        <tr>
                            <td>Price :</td>
                            <td>{{ product_price }}</td>
                        </tr>
                        <tr>
                            <td>Quantity :</td>
                            <td>{{ product_qty }}</td>
                        </tr>
                        <tr>
                            <td>Description :</td>
                            <td> <span v-html="product_description"></span></td>
                        </tr>
                    </table>
                    <div class="img-preview p-3 text-center">
                        <!-- <img class="img-fluid" :src="'/img/product-images/'+mainImage[0].image" alt=""> -->
                        <img class="img-fluid" src="'/img/0.jpg" alt="">


                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12 productImages p-2">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 text-center" v-for="image in supportingImages" :key="image.id" >
                            <div class="img-wrap " >
                                <img  class="p-2 preview" :src="`/img/product-images/${image.image}`" alt="">
                                <i  class="fa fa-times-circle close text-danger" aria-hidden="true" @click.prevent="removeImage(image.id)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading: false,
            product_name : '',
            product_price : '',
            product_qty: '',
            product_description : '',
            product_images: [],
            productDetails: {},
            product_image: '/img/product-images/happy_image.png'
        }
    },

    methods: {
        getProduct(id){
            this.loading = true;
            axios.get('/api/product-details/'+id).then((response) => {
                this.productDetails = response.data
                this.product_name = response.data.products.name;
                this.product_price = response.data.products.price;
                this.product_qty = response.data.quantity;
                this.product_description = response.data.description;
                this.product_images = response.data.products.product_images;
                this.loading = false;
            });
        },
        removeImage(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    axios.get(`/api/product-details/${id}/delete-img`).then((response) => {
                        this.getProduct(this.$route.params.productId);
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    })
                }
            })
        }
    },

    computed: {
        supportingImages() {
            return this.product_images.filter(function(image) {
                return !image.is_main;
            });
        },
        mainImage: function(){
            return this.product_images.filter(function(image){
                return image.is_main;
            });
        }
    },
    mounted() {
        this.getProduct(this.$route.params.productId);
    },
}
</script>
<style lang="scss" scoped>
     .productDetails{
        box-shadow: 0px 0px 3px black;
    }
    td:first-child { font-weight: bold; text-transform: uppercase; width: 150px; }

    img.preview{
        width: 190px;
        height: 190px;
        &:hover{
            box-shadow: 0px 0px 3px gray;
        }
    }
    .img-wrap{
        display: inline-block;
        position: relative;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>
